$primary-color: #D7DADF;
$text-color: #090909;
$body-font-family:'Montserrat', sans-serif;
$cyan: #60daaa;
$background-color: #E5E5E5;

@import "normalize";
@import "layout";
@import "elements";


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic');

body{
	font:400 20px/1.5 'Montserrat', sans-serif;
	color: $text-color;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1063px;
	// margin-left: 275px;
}

.ba-menu{
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
	
	li{
		padding-left: 32px;
		list-style: none;		
	}
	// :nth-child(5){
	// 	padding-left: 37px;
	// }

	a{font-size: 14px;
		color: $primary-color;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: normal;
		// letter-spacing: 0.8px;
		&:active{
			text-decoration: line-through;
		}
	}

	
}
.ba-header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index:1;
	padding:18px 0;
	background-size:cover;
	// background-image:linear-gradient(to bottom, rgba(0,0,0,1), transparent);
}
// .ba-section-intro{
// 	background: rgba(9, 11, 27, 0.46) url(../img/bg-block-1.jpg) no-repeat 50%;
// 	background-size: cover;
// 	// position: absolute;
// 	padding: 432px 0 329px;
// 	// min-height: 100vh;
// 	position: relative;
	
// }

.ba-section{
	&--intro{
	background: rgba(9, 11, 27, 0.46) url(../img/bg-block-1.jpg) no-repeat 50%;
	background-size: cover;
	// position: absolute;
	padding: 432px 0 439px;
	// min-height: 100vh;
	position: relative;
	}
	&--studio{
		background: $background-color;
		padding: 103px 0;
	}
	&--record{
		background: $background-color;
		padding: 70px 0 95px;
		.ba-page-title{
			padding-bottom: 8px;
		}
	}
	&--contacts{
		background: $background-color;
		padding: 43px 0 117px;
	}
	&--about{
		padding: 26px 0 50px;
	}
}

.ba-intro{
	max-width: 505px;
	max-height: 110px;
	// position: absolute;
	// left: 154px;
	// top: 438px;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

		
	// p{
	// 	// position: absolute;
	// 	// width: 105px;
	// 	// height: 34px;
	// 	// left: 0;
	// 	// top: 0;
	// 	font-size: 14px;
	// 	// line-height: 10px;
	// 	color: $primary-color;
	// 	transform: rotate(-90deg);
	// 	margin: 0;
	// 	letter-spacing: 0.9px;
	// 	display: block;
	// 	margin-right: -34px;
		
	// }
}

@media screen and (min-width: 768px){
	.ba-intro{
		position: absolute;
		left: 157px;
		top: 438px;	
		padding: 0;

	}
}

.ba-subtitle{
		font-size: 14px;
		transform: rotate(-90deg);
		margin: 0;
		// letter-spacing: 0.9px;
		display: block;
		
	&--intro{				
		color: $primary-color;
		margin-right: -38px;		
	}
	&--studio{
		position: absolute;
		bottom: 0;
		left: -30px;
		// margin-left: -80px;
	}
	&--record{
		position: absolute;
		margin-top: -43px;
		margin-left: -22px;		
	}
	&--contacts{
		position: absolute;
		margin-top: -48px;
		margin-left: -30px;
	}
	&--masters{
		position: absolute;
		margin-top: 172px;
		margin-left: -68px;
		font-size: 12px;
	}
	&--gallery{
		position: absolute;
		margin-top: 58px;
		margin-left: -86px;
		font-size: 12px;
	}

}

h1{
	// position: absolute;
	// left: 60px;
	// top: 0;	
	font-style: bold;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	color: $primary-color;
	text-align: justify;
	text-align-last: right;
	margin: 0;
	padding: 20px 0;
	// display: block;
	// letter-spacing: 2.2px;		
}

@media screen and (min-width: 768px){
	h1{	
	font-style: bold;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	padding: 0;		
	}
}

.ba-button-hollow{
	position: relative;
	display: block;
	text-decoration: none;
	// position: absolute;
	width: 166px;
	height: 52px;
	// left: 488px;
	// top: 578px;	
	border: 1px solid $primary-color;
	border-left: none;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 14px;
	// letter-spacing: 0.7px;
	line-height: 17px;
	text-align: center;
	color: $primary-color;
	padding: 15px 0;
	margin: 0 auto;

	&:before{
		content: '';
		position: absolute;
		background: $primary-color;
		height: 25px;
		width: 1px;
		left: 0;
		top: 25px;
		z-index: 1;
	}
	// &::after {
	// 	bottom: 0;
	// 	right: 0;
	//  }
	 
	 &:hover {
		color: $cyan;
		border-color: $cyan;
		
	 }
	 &:hover::before{
			background: $cyan;
	 }
	
}

@media screen and (min-width: 768px){
	.ba-button-hollow{
		position: absolute;
		left: 488px;
		top: 578px;
		
	}
}

.img-studio{
	display: block;
	// position: relative;
			
	box-shadow:  30px -30px 0 #E5E5E5, 30px -30px 0 4px  $text-color;
	// &:before{
	// 	content: '';
	// 	position: absolute;
	// 	display: block;
	// 	background: $primary-color;
	// 	width: 539px;
	// 	height: 530px;
	// 	border: 5px solid $text-color;
	// 	left: 50px;
	// 	top: 50px;
	// 	z-index: -1;
	// }
}

.ba-page-title{
	font-size: 24px;
	font-weight: 600;
	// font-style: normal;
	// line-height: 50;
	color: $text-color;
	// letter-spacing: 0.7px;
	margin: 0 0 10px;
	

}

.ba-studio{
	position: relative;
	
	
	p{
		font-size: 14px;
		line-height: 20px;
		color: $text-color;
		margin: 0 0 41px;
		// letter-spacing: 0.9px;
	}
	img{
		margin: 47px 0 0 0px;
	}
}
.ba-studio-content{
	padding: 0 10px 0 47px;
}


// @media screen and (min-width: 768px){
// 	.ba-menu-toggle{
// 		display: none;
// 	}
// }
// @media screen and (max-width: 767px){
// 	.ba-logo{
// 		position: relative;
// 		z-index: 2;
// 	}
// 	.ba-menu{
// 		z-index: 1;
// 		display: block;	
// 		height: 100vh;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 200px;
// 		background: rgba(#fff,0.95);
// 		padding: 150px 30px 30px 0;

// 		transition: transform 0.3s;
// 		transform: translateX(-120%);
// 	}	
// 	.ba-menu li{
// 		padding: 0 0 15px 15px;
// 	}
// 	.ba-menu.open{
// 		transform: translateX(0);
// 	}
// 	.ba-menu-toggle{
// 		padding: 0;
// 		background: none;
// 		border: none;
// 		line-height: 1;
// 		height: auto;
// 		color: #fefefe;
// 		box-shadow: none;
// 		&:hover{
// 			background: none;
// 			color: $primary-color;
// 		}
// 	}
// }

.ba-button-submit{
	position: relative;
	display: block;
	text-decoration: none;
	// position: absolute;
	width: 166px;
	height: 52px;
	// left: 488px;
	// top: 578px;	
	border: 1px solid $text-color;
	border-left: none;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 14px;
	// letter-spacing: 0.7px;
	line-height: 17px;
	text-align: center;
	color: $text-color;
	padding: 15px 0;
	margin: 0 auto;
	background: $background-color;

	&:before{
		content: '';
		position: absolute;
		background: $text-color;
		height: 25px;
		width: 1px;
		left: 0;
		top: 25px;
		z-index: 1;
	}
	// &::after {
	// 	bottom: 0;
	// 	right: 0;
	//  }
	 
	 &:hover {
		color: $cyan;
		border-color: $cyan;
		
	 }
	 &:hover::before{
			background: $cyan;
	 }
	
}

.ba-row-record{
	margin-bottom: 49px;
}

.ba-record{	
	margin-left: 49px;
}
.ba-record-bloc-1{
	padding-right: 13px;
}

.ba-record-bloc-2{
	padding-left: 50px;
}

.form-inline{
	border: 2px solid $text-color;
	border-left: none;
	padding: 95px 130px 90px 92px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		background: $text-color;
		height: 50%;
		width: 1px;
		left: 0;
		bottom: 0;
		z-index: 1;
	}
}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select {
	transition: color .3s ease-in, 
					border-color .3s ease-in, 
					background-color .3s ease-in, 
					opacity .3s ease-in,
					box-shadow .2s ease-in;
	display: block;
	width: 100%;
	background: #E5E5E5;
	border: none;
	border-bottom: 1px solid #000;
	// box-shadow: 0 1px 0 0 #000;
	border-radius: 0;
	font-size: 14px;
	color: #000;
	// line-height: 1.2;
	padding: 14px 50px; 

	margin-bottom: 60px;
}

::placeholder{
	color: #ccc;
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 0 0 #555;
	outline: none;
}


// select:not(:placeholder-shown):valid {
// 	box-shadow: 0 3px 0 0 #2ed573;
// 	border-color: #2ed573;
// }

// select:not(:placeholder-shown):invalid {
// 	box-shadow: 0 3px 0 0 #ff4757;
// 	border-color: #ff4757;
// }

textarea {
	resize: none;
}
.ba-float-label{
	position: relative;
}
// .ba-float-label__input::placeholder{
// 	color: transparent;
// }
.ba-float-label__placeholder{
	font-size: 14px;
	color: &$text-color;
	cursor: pointer;
	position: absolute;
	left: 97px;
	bottom: 20px;
	transition: transform 0.2s;
}
.ba-float-label__input:focus ~ .ba-float-label__placeholder{
	transform: translateY(-40px);
} 
// .ba-float-label__input:not(:placeholder-shown):valid{
// 	box-shadow: 0 3px 0 0 #2ed573;
// 	border-color: #2ed573;
// }
// .ba-float-label__input:not(:placeholder-shown):invalid{
// 	box-shadow: 0 3px 0 0 #ff4757;
// 	border-color: #ff4757;
// }

.ba-record-icon{
	position: absolute;
	bottom: 13px;
	left: 13px;
}
.ba-contacts-content{
	padding: 0 0 0 48px;
	
}
.ba-contact-bloc-1{
	padding: 29px 122px 0 50px;	
	.ba-page-title{
		padding: 0 0 25px 50px;
	}	
}

.ba-contacts-content{
	overflow:hidden;	
   padding-bottom:91%;
   position:relative;
	height:0;
	margin-left: 50px;
	iframe{
		width: 100%;
		height: 100%;
		left:0;
		top:0;
		position:absolute;
		border: none;

	}
	
}

.ba-contact-bloc-2{
	padding: 170px 3px 0 66px;
	p{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		margin: 0;
		padding-bottom: 28px;
	
	}
}
h4{
	font-weight: 600;
	font-size: 14px;
	color: $text-color;
	margin: 0;
	padding: 10px 0 2px;
}
.ba-contacts-email{
	color: #727378;
	padding-top: 8px;
	margin-bottom: 60px;
}

.ba-contacts-icon{
	
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	img{
		padding-right: 80%;
	}
	
}
@media screen and (min-width: 768px){
	.ba-contacts-icon{
	
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;		
	}
}
footer{
	background: $background-color;
	margin: 0;
	padding-bottom: 90px;
}

.ba-footer{
	font-size: 14px;
	line-height: 1.3;
	color: #727378;
	padding-right: 18.5%;
	margin: 0;
	text-align: right;	
	position: relative;
	&::before{
		content:'';
		width: 17.7%;
		height: 1px;
		background: $text-color;		
		position: absolute;
		top: 0;
		left: 0;
	}
	&::after{
		content:'';
		width: 17.7%;
		height: 1px;
		background: $text-color;		
		position: absolute;
		top: 0;
		right: 0;
	}
}
iframe {
	filter: grayscale(100%);
 }

@import "masters";



